@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");


#home-container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #F1EBEB, #EEE8E8, #CACACA, #22C0EA, #5CCEED);
    overflow-y: hidden;
}



#buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    flex-direction: column;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 100vw;
    padding-top: 10vh;
  }
  
  #chat {
    font-size: 16vw;
    margin: 0;
    font-family: "Zen Dots", cursive;
    color: #22c0ea;
  }
  
  #app {
    margin-top: -0.543em;
    margin-left: 1em;
    padding: 0;
    font-style: italic;
    font-size: 20vw;
    font-family: "League Gothic", sans-serif;
    background: linear-gradient(#eee, #333);
    background-repeat: no-repeat;
    background-size:100%;
    animation: animate 1s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: rgba(255,255,255,.01);
  }
   
  @keyframes animate {
    0% {
      background: linear-gradient(#eee, #333);
      -webkit-background-clip: text;
    }
    10% {
      background: linear-gradient(#ccc, #333);
      -webkit-background-clip: text;
    }
    20% {
      background: linear-gradient(#aaa, #333);
      -webkit-background-clip: text;
    }
    30% {
      background: linear-gradient(#888, #333);
      -webkit-background-clip: text;
    }
    40% {
      background: linear-gradient(#666, #333);
      -webkit-background-clip: text;
    }
    50% {
      background: linear-gradient(#444, #333);
      -webkit-background-clip: text;
    }
    60% {
      background: linear-gradient(#333, #444);
      -webkit-background-clip: text;
    }
    70% {
      background: linear-gradient(#333, #666);
      -webkit-background-clip: text;
    }
    80% {
      background: linear-gradient(#333, #888);
      -webkit-background-clip: text;
    }
    90% {
      background: linear-gradient(#333, #aaa);
      -webkit-background-clip: text;
    }
    100% {
      background: linear-gradient(#333, #eee);
      -webkit-background-clip: text;
    }
  }

  #filler{
    color: transparent;
    letter-spacing: -4px;
  }

#log-in-button{
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 4vw;
  margin-top: 100px;
  margin-bottom: 80px;
  border: 0px;
}

#sign-up-button:hover{
  cursor: pointer;
  font-size: 5vw;
  box-shadow: 0px 3px 3px 0px;
}

#log-in-button:hover{
  cursor: pointer;
  font-size: 5vw;
  box-shadow: 0px 3px 3px 0px;
}

#sign-up-button{
    border-radius: 40%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 4vw;
    border: 0px;
}



.links:hover{
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 970px) {
  #chat{
    font-size: 10vw;
  }
  #app{
    font-size: 12.5vw;
  }
  #log-in-button{
    font-size: 2vw;
  }
  #sign-up-button{
    font-size: 2vw;
  }
  #log-in-button:hover{
    cursor: pointer;
    font-size: 3vw;
    box-shadow: 0px 3px 3px 0px;
  }
  #sign-up-button:hover{
    cursor: pointer;
    font-size: 3vw;
    box-shadow: 0px 3px 3px 0px;
  }
  
}