#detail-container{
    width: 78vw;
    height:79.5vh;
    position: absolute;
    left: 21vw;
}

#header-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new-message-icon-container {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  overflow: hidden;
}

#new-message-icon-container:hover{
  cursor: pointer;
}

#new-message-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.message-container {
    display: flex;
    flex-direction: column;
    height: 90%;
  }
  
  .message-display {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow-y: auto;
    border: 2px solid black
  }
  
  .message-input {
    height: 4rem;
    background-color: #fff;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  
  .message-input input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 1rem;
  }
  
  .message-input button {
    background-color: #5CCEEE;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  
  .receiver-field {
    display: flex;
    justify-content:top ;
    width:100%;
    height: 100%;
    flex-direction: column;
    border: 2px solid black;
  }
  
  .sender-field {
    display: flex;
    justify-content: top;
    align-items: right;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border: 2px solid black;
  }

  .user-table-data{
    text-align: center;
  }

  #user-data-row:hover{
    background-color: aqua;
    cursor: pointer;
  }


  #mini-image{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
  }

  #user-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .receiver-text{
    text-align: right;
    border: 2px solid black;
  }

  .sender-text{
    border: 2px solid black;
  }